@keyframes splashFadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    70% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -5;
    }
}

@keyframes rotateBullet {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-40deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/surprise.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    animation: splashFadeOut 1s ease-out forwards;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.pid {
    display: flex;
    width: 12vw;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

}

.pid figcaption {
    display: none;
}

.pid img {
    display: block;
    width: 100%;
    height: 100%;
    border: 0.4vw solid #d4c19c;
    box-shadow: 0 0 0 0.2vw #8a6f4d,
        0 0.3vw 2vw rgba(0, 0, 0, 0.3);
    border-radius: 0.4vw;

}

.pres {
    background-image: url(images/windowopa.png);
    background-size: 97% 97%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vw;
    /* 40px en vw */
    margin: 2vw 0;
    /* 20px en vw */
    width: fit-content;
}

.pres p,
.pres li {
    font-size: 1.8vw;
    /* 36px en vw */
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-family: var(--fontext);
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.7);
}

.pres h2,
.pres h3,
.pres .selec,
.pres p {
    max-width: 90%;
    justify-content: left;
    margin: 0 auto;


}

.pres h2 {
    font-family: var(--fontitre);
    color: var(--coltitre);
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.8);
    font-size: 3vw;
}

.selec li::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url(images/ullloyd.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    flex-shrink: 0;
    animation: rotateBullet 3s infinite steps(1);
    transform-origin: center center;
}

.selec {
    list-style: none;

}

.selec li {
    display: flex;
    align-items: center;
}

.selec li h3 {
    font-family: var(--fontitre);
    color: var(--coltitresec);
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.8);
    margin: 0 0;
}