@keyframes rotateBullet {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-40deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

main {

    background-image: url(images/windowopa.png);
    background-size: 97% 97%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vw;
    margin: 2vw 0;
    width: fit-content;
    margin: 5% 20%;
}

main article {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

figure {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

h2 {
    font-family: var(--fontitre);
    color: var(--coltitre);
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.8);
    font-size: 4vw;
    text-align: center;
}

h3 {
    font-family: var(--fontitre);
    color: var(--coltitresec);
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.8);
    font-size: 3vw;

}

p {
    font-size: 1.8vw;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-family: var(--fontext);
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.7);
}


.selec {
    list-style: none;

}

.selec li::before {
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    background-image: url(images/ullloyd.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    animation: rotateBullet 3s infinite ease-in-out;
    transform-origin: center center;
}

.selec li {
    display: flex;
    align-items: center;
}